@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #3B82F6;
  --color-accent: #EFF6FF;
  --color-bg: #FFFFFF;
  --color-ink: #0F172A;
}

body {
  @apply bg-bg text-ink;
}
